<div class="accordion_item">
    <div class="header" ng-click="toggle()">
        <div class="title_container">
            <span>{{title}}</span>
        </div>
        <div class="arrowContainer">
            <img ng-src="{{!showMe ? 'img/down-arrow.svg': 'img/up-arrow.svg'}}"/>
        </div>

    </div>

    <div ng-show="showMe" class="accordion_animation">
        <ng-transclude ng-show="showMe">
        </ng-transclude>
    </div>

</div>