<ons-dialog animation="default" var="loading" id="loading" modifier="progressDialog">
    <div class="alert-dialog-content">
        <ons-progress-circular indeterminate></ons-progress-circular>
    </div>
</ons-dialog>