<div class="header_container">
    <div class="header_bars" ng-click="openSlidingMenu()">
        <i class="fa fa-bars"></i>
    </div>
    <h3 class="header_title">{{headerTitle}}</h3>
    <div class="shopping_cart_container" ng-click="onShoppingCartClickedFunction()">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge">{{badgeNumber}}</span>
    </div>
</div>