<div class="product_container">
    <div class="left_container">
        <img ng-src="{{product.imageUrl}}" class="product_image"/>
    </div>
    <div class="right_container" ng-if="comeFromShoppingList">
        <div class="top_container">
            <p class="product_title">{{product.name}}</p>
        </div>
        <div class="bottom_container">
            <div class="counter">
                <i class="fa fa-minus" ng-click="decreaseCount(productCount)"></i>
                <input type="number" ng-model="productCount">
                <i class="fa fa-plus-circle" ng-click="increaseCount(productCount)"></i>
            </div>
            <div class="add_to_cart" ng-click="addToShoppingCart()">
                <img src="img/add-to-cart.svg"/>
                <p class="price">{{product.price}} {{product.priceCurrency}}</p>
            </div>
        </div>
    </div>

    <div class="right_container" ng-if="comeFromShoppingCart">
        <div class="left_container">
            <div class="top_container">
                <p class="product_title">{{product.name}}</p>
            </div>
            <div class="bottom_container">
                <p class="count">{{product.itemCount}}</p>
                <p class="price">{{product.price}} {{product.priceCurrency}}</p>
            </div>
        </div>
        <div class="right_container">
            <i class="fa fa-trash-o" ng-click="deleteFromShoppingCart()"></i>
        </div>
    </div>
</div>