<ons-navigator id="myNavigator" var="app.navi">
    <ons-page ng-controller="shoppingList">
        <header on-shopping-cart-clicked="onShoppingCartClicked"></header>
        <div class="shopping_list_container">
            <!--<accordion>-->
            <div ng-repeat="item in data">
                <!--<accordion-item title="{{item.catName}}">-->
                <!--<div ng-repeat="product in item.products">-->
                <!--<product data="product" on-product-clicked="addToShoppingCart"></product>-->
                <!--</div>-->
                <!--</accordion-item>-->

                <product data="item" come-from="shoppingList"></product>

            </div>
            <!--</accordion>-->
        </div>
    </ons-page>
</ons-navigator>




<!--<ons-template id="page2.html">-->
    <!--<ons-page>-->
        <!--<ons-toolbar>-->
            <!--<div class="left">-->
                <!--<ons-toolbar-button onclick="menu.toggleMenu()">-->
                    <!--<ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>-->
                <!--</ons-toolbar-button>-->
            <!--</div>-->
            <!--<div class="center">Page 2</div>-->
        <!--</ons-toolbar>-->

        <!--<p style="text-align: center; color: #999; padding-top: 100px;">Page2 Contents</p>-->
    <!--</ons-page>-->
<!--</ons-template>-->

<!--<ons-template id="menu.html">-->
    <!--<ons-list>-->
        <!--<ons-list-item modifier="chevron" onclick="menu.setMainPage('page1.html', {closeMenu: true})">-->
            <!--page1.html-->
        <!--</ons-list-item>-->
        <!--<ons-list-item modifier="chevron" onclick="menu.setMainPage('page2.html', {closeMenu: true})">-->
            <!--page2.html-->
        <!--</ons-list-item>-->
    <!--</ons-list>-->
<!--</ons-template>-->