<ons-page ng-controller="shoppingCart">
    <header></header>
    <div class="shopping_cart_view_container">
        <div ng-repeat="item in shoppingCartList">
            <product data="item" come-from="shoppingCart"></product>
        </div>
    </div>

    <div class="total_amount">
        <p>Total : {{totalAmount}} $</p>
    </div>
</ons-page>