<div ng-controller="shoppingListCategories" class="shoppingListCategoriesContainer">
    <div ng-repeat="category in categories" class="category_menu_container" ng-click="getCategoryItems(category)">
        <div class="category_menu_item_img">
            <img ng-src="{{category.imageUrl}}"/>
        </div>
        <p class="category_menu_item_title">{{category.name}}</p>
        <i class="fa fa-angle-right" aria-hidden="true" style=" float: right;
      display: inline-block;
      margin-top: 15px;
      font-size: 27px;"></i>
    </div>
</div>