p {
  margin: 0; }

.page__content page--material__content, .page__content {
  overflow: hidden; }

.header_container {
  width: 100%;
  height: 44px;
  margin-bottom: 0;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 10000;
  top: 0;
  background-color: #92bd1e; }
  .header_container .header_title {
    position: absolute;
    font-size: 18px;
    margin: 0 auto;
    top: 12px;
    color: #fff;
    left: 35%; }

.splash-screen-page div.splash-background {
  background-color: #92bd1e;
  height: 100%; }
  .splash-screen-page div.splash-background img {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px; }

.shopping_cart_container {
  float: right;
  right: 12px;
  position: absolute;
  top: 4px;
  font-size: 30px;
  color: #fff; }
  .shopping_cart_container .badge {
    position: absolute;
    background: blue;
    height: 12px;
    top: 1px;
    right: 1px;
    width: 12px;
    text-align: center;
    font-size: 0.5rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid blue; }

.shopping_list_container, .shopping_cart_view_container {
  top: 44px;
  position: relative;
  height: calc(100% - 44px);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden; }
  .shopping_list_container .products_accordion_items_container, .shopping_cart_view_container .products_accordion_items_container {
    padding: 20px; }

.product_container {
  display: block;
  height: 90px; }
  .product_container .left_container {
    display: inline-block;
    /* width: 50%; */
    float: left; }
    .product_container .left_container .product_image {
      width: 75px;
      height: 75px; }
  .product_container .right_container {
    display: inline-block;
    /* width: 50%; */
    float: right; }
    .product_container .right_container .top_container p.product_title {
      width: 100%;
      text-align: center;
      margin-bottom: 10px; }
    .product_container .right_container .left_container {
      display: inline-block; }
      .product_container .right_container .left_container .top_container {
        width: 100%;
        text-align: center; }
      .product_container .right_container .left_container .bottom_container p.count {
        display: inline-block;
        margin-right: 40px; }
      .product_container .right_container .left_container .bottom_container p.price {
        display: inline-block;
        margin-right: 17px; }
    .product_container .right_container .right_container {
      display: inline-block;
      margin-left: 10px;
      margin-top: 14px;
      font-size: 22px; }
    .product_container .right_container .bottom_container {
      text-align: center;
      display: block; }
      .product_container .right_container .bottom_container .counter {
        width: 85px;
        /* display: block; */
        text-align: center;
        background: #e5e5e5;
        border-radius: 16px;
        content: "";
        display: inline-block;
        height: 32px;
        left: 0;
        /* position: absolute; */
        right: 0;
        /* top: 2px; */
        height: 30px;
        margin-top: 5px;
        /* padding-top: 9px; */ }
        .product_container .right_container .bottom_container .counter i {
          display: inline-block; }
        .product_container .right_container .bottom_container .counter input {
          width: 25px;
          display: inline-block;
          height: 24px;
          text-align: center; }
      .product_container .right_container .bottom_container .add_to_cart {
        -webkit-appearance: none;
        background: #92bd1e;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 4px 7px 0 rgba(65, 65, 65, 0.15);
        color: #fff;
        cursor: pointer;
        font: 700 16px/22px Open Sans, sans-serif;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        white-space: nowrap;
        display: inline-block; }
        .product_container .right_container .bottom_container .add_to_cart img {
          display: inline-block;
          height: 30px;
          margin-bottom: -2px;
          margin-right: 3px;
          position: relative;
          top: 3px;
          vertical-align: text-bottom;
          width: 30px; }
        .product_container .right_container .bottom_container .add_to_cart p {
          color: #fff;
          display: inline-block;
          margin: 0; }

.accordion_item {
  margin-bottom: 20px; }
  .accordion_item .header {
    padding: 20px;
    border-bottom: 1px #92bd1e solid; }
    .accordion_item .header .title_container {
      float: left; }
    .accordion_item .header .arrowContainer {
      float: right;
      width: 18px; }

.accordion_animation {
  max-height: 1000px;
  overflow: hidden;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  transition-timing-function: ease-in-out;
  width: 100%; }

.accordion_animation.ng-hide {
  max-height: 0; }

.header_bars {
  float: left;
  position: absolute;
  top: 12px;
  left: 12px; }
  .header_bars i {
    color: #fff;
    font-size: 23px; }

.shoppingListCategoriesContainer {
  height: 100%;
  padding: 20px; }
  .shoppingListCategoriesContainer .category_menu_container {
    display: block;
    height: 60px;
    border-bottom: 1px solid #92bd1e; }
    .shoppingListCategoriesContainer .category_menu_container .category_menu_item_img {
      margin-top: 10px;
      float: left;
      margin-right: 20px; }
      .shoppingListCategoriesContainer .category_menu_container .category_menu_item_img img {
        width: 40px;
        height: 40px;
        border-radius: 25px; }
    .shoppingListCategoriesContainer .category_menu_container .category_menu_item_title {
      display: inline-block;
      float: left;
      margin-top: 20px; }
    .shoppingListCategoriesContainer .category_menu_container i.arrow {
      float: right;
      display: inline-block;
      margin-top: 15px;
      font-size: 27px; }

.total_amount {
  background-color: #92bd1e;
  position: absolute;
  height: 40px;
  width: 100%;
  text-align: center;
  bottom: 0; }
  .total_amount p {
    color: #fff;
    font-size: 22px;
    height: 100%;
    padding-top: 6px; }

/*# sourceMappingURL=index.css.map */
