$primaryColor: #92bd1e;
$whiteColor: #fff;
$blueColor: blue;
p {
  margin: 0;
}

.page__content page--material__content, .page__content {
  overflow: hidden;
}

.header_container {
  width: 100%;
  height: 44px;
  margin-bottom: 0;
  text-align: center;
  display: block;
  position: absolute;
  z-index: 10000;
  top: 0;
  background-color: $primaryColor;
  .header_title {
    position: absolute;
    //width: 100%;
    font-size: 18px;
    margin: 0 auto;
    top: 12px;
    color: $whiteColor;
    left: 35%;
  }
}

.splash-screen-page {
  div.splash-background {
    background-color: $primaryColor;
    height: 100%;
    img {
      width: 50%;
      margin: auto;
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
    }
  }
}

.shopping_cart_container {
  float: right;
  right: 12px;
  position: absolute;
  top: 4px;
  font-size: 30px;
  color: $whiteColor;

  .badge {
    position: absolute;
    background: $blueColor;
    height: 12px;
    top: 1px;
    right: 1px;
    width: 12px;
    text-align: center;
    font-size: 0.5rem;
    border-radius: 50%;
    color: $whiteColor;
    border: 1px solid $blueColor;
  }
}

.shopping_list_container, .shopping_cart_view_container {
  top: 44px;
  position: relative;
  height: calc(100% - 44px);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  .products_accordion_items_container {
    padding: 20px;
  }
}

.product_container {
  display: block;
  height: 90px;
  .left_container {
    display: inline-block;
    /* width: 50%; */
    float: left;

    .product_image {
      width: 75px;
      height: 75px;
    }
  }
  .right_container {
    display: inline-block;
    /* width: 50%; */
    float: right;

    .top_container {
      p.product_title {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .left_container {
      display: inline-block;
      .top_container {
        width: 100%;
        text-align: center;
      }
      .bottom_container {
        p.count {
          display: inline-block;
          margin-right: 40px;
        }

        p.price {
          display: inline-block;
          margin-right: 17px;
        }
      }
    }
    .right_container {
      display: inline-block;
      margin-left: 10px;
      margin-top: 14px;
      font-size: 22px;
    }
    .bottom_container {
      text-align: center;
      display: block;
      .counter {
        width: 85px;
        /* display: block; */
        text-align: center;
        background: #e5e5e5;
        border-radius: 16px;
        content: "";
        display: inline-block;
        height: 32px;
        left: 0;
        /* position: absolute; */
        right: 0;
        /* top: 2px; */
        height: 30px;
        margin-top: 5px;
        /* padding-top: 9px; */
        i {
          display: inline-block;
        }

        input {
          width: 25px;
          display: inline-block;
          height: 24px;
          text-align: center;
        }

      }

      .add_to_cart {
        -webkit-appearance: none;
        background: $primaryColor;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 4px 7px 0 rgba(65, 65, 65, .15);
        color: #fff;
        cursor: pointer;
        font: 700 16px/22px Open Sans, sans-serif;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        white-space: nowrap;
        display: inline-block;
        img {
          display: inline-block;
          height: 30px;
          margin-bottom: -2px;
          margin-right: 3px;
          position: relative;
          top: 3px;
          vertical-align: text-bottom;
          width: 30px;
        }
        p {
          color: $whiteColor;
          display: inline-block;
          margin: 0;
        }
      }
    }
  }
}

.accordion_item {
  .header {
    padding: 20px;
    border-bottom: 1px $primaryColor solid;
    //border-top: 1px $primaryColor solid;
    .title_container {
      float: left;
    }
    .arrowContainer {
      float: right;
      width: 18px;
    }
  }
  margin-bottom: 20px;
}

.accordion_animation {
  max-height: 1000px;
  overflow: hidden;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.accordion_animation.ng-hide {
  max-height: 0;
}

.header_bars {
  float: left;
  position: absolute;
  top: 12px;
  left: 12px;
  i {
    color: $whiteColor;
    font-size: 23px;
  }
}

.shoppingListCategoriesContainer {
  height: 100%;
  padding: 20px;

  .category_menu_container {
    display: block;
    height: 60px;
    border-bottom: 1px solid $primaryColor;
    .category_menu_item_img {
    img {
      width: 40px;
      height: 40px;
      border-radius: 25px;
    }
      margin-top: 10px;
      float: left;
      margin-right: 20px;
    }

    .category_menu_item_title {
      display: inline-block;
      float: left;
      margin-top: 20px;
    }
    i.arrow {
      float: right;
      display: inline-block;
      margin-top: 15px;
      font-size: 27px;
    }
  }
}

.total_amount {
  background-color: $primaryColor;
  position: absolute;
  height: 40px;
  width: 100%;
  text-align: center;
  bottom: 0;
  p {
    color: $whiteColor;
    font-size: 22px;
    height: 100%;
    padding-top: 6px;
  }
}



